<a href="https://colab.research.google.com/github/flbaynac/sql-basics-colab/blob/main/Proyecto_Integrador_MOD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title CURSO DE INTRODUCCIÓN A BASES DE DATOS Y SQL
# @markdown ### Proyecto integrador - Módulo 1
# @markdown Ejecutar esta celda cada vez que se abra google colab para instalar las dependencias

# Install mysql-server and start the service
!apt install mysql-server
!service mysql start
#!mysql -u root -p
!pip install mysql-connector-python
# Fix -> MySQL Error: : 'Access denied for user 'root'@'localhost'
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"

# Import library
import mysql.connector

from getpass import getpass
from mysql.connector import connect, Error

In [ ]:
# Destroy previus database to excecute code cell again without error
try:
    with connect(
        host="localhost",
        user="root",
        password="root",
    ) as connection:
        with connection.cursor() as cursor:
            cursor.execute("DROP DATABASE LABORATORIO")
except Error as e:
    print(e)

# @title Ejercicios
# @markdown 1. Crear una base de datos con el nombre LABORATORIO. En el caso de que la base de datos exista previamente, eliminarla antes de iniciar el laboratorio.

query1 = "CREATE DATABASE LABORATORIO;" # @param {type:"string"}
print("\nSQL query: " + query1)

try:
    with connect(
        host="localhost",
        user="root",
        password="root",
    ) as connection:
        with connection.cursor() as cursor:
            cursor.execute(query1)
except Error as e:
    print(e)
# On success it continues with only one commit with all queries

# @markdown 2. Poner en uso la base de datos generada en el paso anterior.

query2 = "USE LABORATORIO;" # @param {type:"string"}
print("\nSQL query: " + query2)

try:
    with connect(
        host="localhost",
        user="root",
        password="root",
    ) as connection:
        with connection.cursor() as cursor:
            cursor.execute(query2)


# @markdown 3. Crear una tabla con el nombre FACTURAS dentro de la base de datos con la estructura que se muestra a continuación y tener en cuenta las siguientes consideraciones:

# @markdown > | **FACTURAS**   |         |        |
# @markdown |----------------|---------|--------|
# @markdown | **Letra**      | char    | **PK** |
# @markdown | **Numero**     | integer | **PK** |
# @markdown | **ClienteID**  | integer |        |
# @markdown | **ArticuloID** | integer |        |
# @markdown | **Fecha**      | date    |        |
# @markdown | **Monto**      | double  |        |

# @markdown > * PK significa PRIMARY KEY.

# @markdown > * Observar que se declara una clave primaria compuesta por los campos Letra y Número; cada campo por sí solo no es clave, ni tampoco identifica al registro, pero la combinación de ambos forman la clave.

            query3 = "CREATE TABLE FACTURAS(LETRA CHAR, NUMERO INTEGER, CLIENTEID INTEGER, ARTICULOID INTEGER, FECHA DATE, MONTO DOUBLE, PRIMARY KEY(LETRA, NUMERO) );" # @param {type:"string"}
            print("\nSQL query: " + query3)
            cursor.execute(query3)


# @markdown 4. Crear una tabla con el nombre ARTÍCULOS dentro de la base de datos y tomar en consideración la estructura definida a continuación.

# @markdown > | **ARTICULOS**   |         |        |
# @markdown |----------------|---------|--------|
# @markdown | **ArticuloID** | integer | **PK** |
# @markdown | **Nombre**     | varchar(50) |        |
# @markdown | **Precio**     | double  |        |
# @markdown | **Stock**      | integer |        |

            query4 = "CREATE TABLE ARTICULOS(ARTICULOID INTEGER PRIMARY KEY, NOMBRE VARCHAR(50), PRECIO DOUBLE, STOCK INTEGER);" # @param {type:"string"}
            print("\nSQL query: " + query4)
            cursor.execute(query4)

# @markdown 5. Crear una tabla con el nombre CLIENTES dentro de la base de datos y tomar en consideración la estructura definida a continuación.

# @markdown > | **CLIENTES**   |         |        |
# @markdown |----------------|---------|--------|
# @markdown | **ClienteID**  | integer | **PK** |
# @markdown | **Nombre**     | varchar(25) |    |
# @markdown | **Apellido**   | varchar(25) |    |
# @markdown | **CUIT**       | char(16) |       |
# @markdown | **Dirección**  | varchar(50) |    |
# @markdown | **Comentarios** | varchar(50) |   |

            query5 = "CREATE TABLE CLIENTES(CLIENTEID INTEGER PRIMARY KEY, NOMBRE VARCHAR(25), APELLIDO VARCHAR(25), CUIT CHAR(16), DIRECCION VARCHAR(50), COMENTARIOS VARCHAR(50) );" # @param {type:"string"}
            print("\nSQL query: " + query5)
            cursor.execute(query5)
            connection.commit()

except Error as e:
    print(e)
# @markdown 6. Mostrar un listado de todas las bases de datos alojadas en el servidor.

query6 = "SHOW DATABASES;" # @param {type:"string"}
print("\nSQL query: " + query6)

try:
    with connect(
        host="localhost",
        user="root",
        password="root",
    ) as connection:
        with connection.cursor() as cursor:
            cursor.execute(query6)
            result = cursor.fetchall()
            for row in result:
              print(row)

# @markdown 7. Mostrar un listado de todas las tablas generadas anteriormente dentro de la base de datos con el nombre LABORATORIO.

            query7 = "USE LABORATORIO;" # @param {type:"string"}
            print("\nSQL query: " + query7)

            query8 = "SHOW TABLES;" # @param {type:"string"}
            print("\nSQL query: " + query8)

            cursor.execute(query7)
            cursor.execute(query8)
            result = cursor.fetchall()
            for row in result:
              print(row)

            # @markdown 8. Comentar la instrucción que lista las tablas contenidas dentro de la base de datos LABORATORIO.

            query9 = "# Esto es un comentario de 1 linea (Propia de MySQL)" # @param {type:"string"}
            print("\nSQL query: " + query9)

            # @markdown 9. Describir la estructura de la tabla CLIENTES

            query10 = "DESCRIBE CLIENTES;" # @param {type:"string"}
            print("\nSQL query: " + query10)

            cursor.execute(query10)
            result = cursor.fetchall()
            for row in result:
              print(row)

except Error as e:
    print(e)