<a href="https://colab.research.google.com/github/flbaynac/sql-basics-colab/blob/main/Proyecto_Integrador_MOD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title CURSO DE INTRODUCCIÓN A BASES DE DATOS Y SQL
# @markdown ### Proyecto integrador - Módulo 1
# @markdown _Ejecutar esta celda cada vez que se abra google colab para inializar la base de datos_

# Import library
import sqlite3

# Connect to an SQLite database; use ':memory:' for an in-memory database
conn = sqlite3.connect(':memory:')

In [ ]:
# @title Ejercicios
# @markdown 1. Crear una base de datos con el nombre LABORATORIO. En el caso de que la base de datos exista previamente, eliminarla antes de iniciar el laboratorio.

query1 = "CREATE DATABASE LABORATORIO;" # @param {type:"string"}
print("SQL query: " + query1)
#En sqlite3 no se necesita este paso por ende se saltea

# @markdown 2. Poner en uso la base de datos generada en el paso anterior.
query2 = "USE LABORATORIO;" # @param {type:"string"}
print("SQL query: " + query2)
#En sqlite3 no se necesita este paso por ende se saltea

# @markdown 3. Crear una tabla con el nombre FACTURAS dentro de la base de datos con la estructura que se muestra a continuación y tener en cuenta las siguientes consideraciones:

# @markdown > | **FACTURAS**   |         |        |
# @markdown |----------------|---------|--------|
# @markdown | **Letra**      | char    | **PK** |
# @markdown | **Numero**     | integer | **PK** |
# @markdown | **ClienteID**  | integer |        |
# @markdown | **ArticuloID** | integer |        |
# @markdown | **Fecha**      | date    |        |
# @markdown | **Monto**      | double  |        |

# @markdown > | **ARTICULOS**   |         |        |
# @markdown |----------------|---------|--------|
# @markdown | **ArticuloID** | integer | **PK** |
# @markdown | **Nombre**     | varchar(50) |        |
# @markdown | **Precio**     | double  |        |
# @markdown | **Stock**      | integer |        |

# @markdown > | **CLIENTES**   |         |        |
# @markdown |----------------|---------|--------|
# @markdown | **ClienteID**  | integer | **PK** |
# @markdown | **Nombre**     | varchar(25) |    |
# @markdown | **Apellido**   | varchar(25) |    |
# @markdown | **CUIT**       | char(16) |       |
# @markdown | **Dirección**  | varchar(50) |    |
# @markdown | **Comentarios** | varchar(50) |   |


# @markdown > * PK significa PRIMARY KEY.

# @markdown > * Observar que se declara una clave primaria compuesta por los campos Letra y Número; cada campo por sí solo no es clave, ni tampoco identifica al registro, pero la combinación de ambos forman la clave.



query3 = "CREATE TABLE FACTURAS();" # @param {type:"string"}
print("SQL query: " + query3)
c = conn.cursor()
c.execute(query3)
conn.commit()
print(c.fetchall())

# @markdown 4. Crear una tabla con el nombre ARTÍCULOS dentro de la base de datos y tomar en consideración la estructura definida anteriormente.